.container {
  max-width: 960px;
}

  .borde-violeta {
	border: 1px solid #6750a4 !important;
  }
  
  .borde-formulario {
	border: 1px solid #adb5bd36 !important;
	margin-top: 50px !important;
	border-radius: 30px 30px  30px 30px !important;
 }
 
 .borde-inferior{
	 border-bottom: 1px solid #adb5bd36 !important;}
	 
 .color-header-form{
   background :#ede6f3;
   height: 46px;
   border-radius: 30px 30px  0px 0px !important;
 }
 
 .btn-violet{
	color: white;
	background: #6750a4;
 }
 
.btn-violet:hover{
	color: white;
	background: #37236B;
 }
 
.padding-header-form{ 
 padding-left: 26px;
 padding-top: 10px;
}


.element-help{
	float: left; 
	margin-left: -20px;     
	margin-top: 40px;
    border: 1px solid #ced4da;
    padding-right: 5px;
    padding-left: 5px;

}


  
